BasedOnStyle: Mozilla
IndentWidth: 4
ColumnLimit: 120
Standard: c++20
IndentExternBlock: NoIndent
AccessModifierOffset: -4
PackConstructorInitializers: CurrentLine
AlignConsecutiveAssignments: true
AlignConsecutiveBitFields: true
AlignConsecutiveDeclarations: true
AlignConsecutiveMacros: true
AlignConsecutiveShortCaseStatements: { Enabled: true }
AlignEscapedNewlines: Left
AlignTrailingComments: true
SortIncludes: false
Cpp11BracedListStyle: true
